<%- include("../partials/head", { title: "Dino Park Adventure" }) %>

<h2 class="admintext">Hello! This page belongs to the admin, the dino team which makes it all happen!</h2>


<% if (loginError) { %>
  <div class="error-message">
    <p class="error"><%= loginError %></p>
  </div>
<% } %>

<form action="/adminLogin/login" method="POST" class="loginForm adminSignIn">
  <div class="form-group">
    <label for="username">Username</label>
    <input 
    class="form-control" 
    type="text" 
    name="username" 
    value="<%= values?.username || '' %>" 
    placeholder="Enter Username" >
    <% if (formErrors?.username) { %>
    <p class="error"><%= formErrors.username._errors?.[0] || formErrors.username %></p>
    <% } %>



    <label for="password">Password</label>
    <input 
    class="form-control" 
    type="password" 
    name="password" 
    value="<%= values?.password || '' %>" 
    placeholder="Enter Password">       
    <% if (formErrors?.password) { %>
      <p class="error"><%= formErrors.password._errors?.[0] || formErrors.password %></p>
    <% } %>
    </div>


  <div class="formSubmitAdmin">
  <button type="submit" class="loginbtn">LOGIN</button>
  </div>
</form>


<%- include("../partials/footer") %>